
 <!--
 <div>
    <nav class="navbar navbar-expand-sm  bg-dark  navbar-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand text-danger " href="#">Student Training Application</a>
          </div>
          
         
          <ul class="nav navbar-nav">
            <li><a routerLink="showcustomer"  class="navbar-brand"  style="color:gainsboro;"><span class="	fa fa-file-text "></span>AddClient</a></li>
            <li><a routerLink="jvcustomer"  class="navbar-brand" ><span class="	fa fa-file-text "></span> Client</a></li>
            <li><a routerLink="books"  class="navbar-brand" ><span class="	fa fa-file-text "></span> Books</a></li>
             <li><a routerLink="signUp"  class="navbar-brand" ><span class="fa fa-fw fa-user "></span> Sign Up</a></li>
            <li><a routerLink="login"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Login</a></li>
            <li><a routerLink="feedback"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Feedback</a></li>
          </ul>
        </div>
      </nav>
      
    </div>  -->

     <!--
    <div >
      <nav class="navbar navbar-expand-sm  bg-light  navbar-light">
        <div class="container-fluid">
      <div class="navbar-header">
      <span>
        <a  class="navbar-brand text-danger "  routerLink="/home" routerLinkActive="mat-accent">Student Training Application</a>
       <!--    <a class="navbar-brand text-danger " href="#">Student Training Application</a> 
      </span>
      <span class="spacer"></span>
    </div>
      <ul >
        <li *ngIf="userIsAuthenticated && userRole== 'Admin'">
          <a mat-button routerLink="/admin" routerLinkActive="mat-accent">Admin</a>
        </li>
  
        <li *ngIf="userIsAuthenticated && userRole== 'Trainer'">
          <a mat-button routerLink="/trainer" routerLinkActive="mat-accent">Trainer</a>
        </li>

  
        <li *ngIf="userIsAuthenticated ">
          <a mat-button routerLink="/myData" routerLinkActive="mat-accent">Manage My Data</a>
        </li>

        
        <li *ngIf="userIsAuthenticated ">
          <a mat-button routerLink="/addNote" routerLinkActive="mat-accent">Add Note</a>
        </li>
  
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/signUp" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <button mat-button class="text-danger" (click) ="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
    

  </div> -->
    
  <!-- 
  <nav class="navbar navbar-expand-sm  bg-light  navbar-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand text-danger " href="#">Student Training Application</a>
        </div>
        
       
        <ul class="nav navbar-nav">
            
            <li><a routerLink="gmail"  class="navbar-brand" ><span class="fa fa-fw fa-user "></span>Gmail</a></li>
               <li><a routerLink="signUp"  class="navbar-brand" ><span class="fa fa-fw fa-user "></span> Sign Up</a></li>
          <li><a routerLink="login"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Login</a></li>
          <li><button> Logout </button> </li>
        </ul>
      </div>
    </nav>-->
