


<div>
  <nav class="navbar navbar-expand-sm  bg-dark  navbar-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand text-danger " href="#">Student Training Application</a>
        </div>
        
       
        <ul class="nav navbar-nav">
          <li><a routerLink="showcustomer"  class="navbar-brand"  style="color:gainsboro;"><span class="	fa fa-file-text "></span>AddClient</a></li>
          <li><a routerLink="jvcustomer"  class="navbar-brand" ><span class="	fa fa-file-text "></span> Client</a></li>
          <li><a routerLink="books"  class="navbar-brand" ><span class="	fa fa-file-text "></span> Books</a></li>
           <li><a routerLink="signUp"  class="navbar-brand" ><span class="fa fa-fw fa-user "></span> Sign Up</a></li>
          <li><a routerLink="login"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Login</a></li>
          <li><a routerLink="feedback"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Feedback</a></li>
        </ul>
      </div>
    </nav>
    
  </div> 

<!--<div>
  <table>
  <tr>username</tr>
  <tr>email</tr>
  <tr>password</tr>
</table>
</div> -->
<!-- <app-header></app-header> -->
<!--<app-jvcustomer></app-jvcustomer> -->
  
  <router-outlet></router-outlet>
  